.Main {
    margin-top: 10%;
    border: 2px solid red;
    width: 20%;
    height: 63%;
    opacity: 0.95;
    z-index: -1;
}


.buttons {
    border: 2px solid green;


}

#button_1 {
    display: block;
    position:absolute;
    top: 150px;
    margin-top: 70px;
}

#button_2{
    display: block;




}



#test_button {

    border: 2px solid blue;
    background-image: url(file://{images}/custom_game/menu_images/last_hitting_button.png) no-repeat;
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    background-size: 100%;

}



#btnTest {
    background-image: url(file://{images}/custom_game/menu_images/last_hitting_button.png) no-repeat;
    background-repeat: no-repeat;

    border: 2px solid red; 

    z-index: 1;
    background-size: 100%;
    width: 200px;
    height: 60px;

}




.button_text {
    vertical-align: center;
    horizontal-align: center;
    font-weight: bold;
    color: #D3FAFE;
    font-size: 18px;

    font-family: "Goudy Trajan Medium";
}

#btnTest:hover {
      




}



#test_button:active, #btnTest:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




#zeus_panel {
    positon: relative;
    display: block;
    height: 380px;
    width: 300px;
    border: 4px solid yellow;
    z-index: 0;
}




/* file://{images}/custom_game/loading_screen/gamemode.png
